:root {
  font-size: 1em;
  --height-elem: 6.25rem;
  --system-invite: 2rem;
}

/* +++++++++++++++++++ Reset CSS +++++++++++++++++++ */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* +++++++++++++++ End of Reset CSS +++++++++++++++ */

.panel__start,
.panel__score,
.panel__game {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 1rem 0;
  height: calc(50px - 2rem);
  width: 100%;

  font-size: 1.1rem;
  text-align: center;
  font-weight: 500;
  color: #fff;

  background: #fff;
  box-shadow: 0 2px 2px 1px #ccc;

  position: absolute;
  left: 0;
  top: var(--system-invite);
  z-index: 2;
}

.panel__score {
  color: cyan;

  box-shadow: 0 -2px -2px 1px rgb(22, 22, 22);

  top: initial;
  bottom: 0;
}

h1 {
  height: var(--system-invite);

  font-size: 1.2rem;
  text-align: center;
  line-height: var(--system-invite);
  color: #222;
}

.btn {
  padding: 5px 15px;

  font: inherit;
  color: #fff;

  background-color: black;
  border: none;
  cursor: pointer;
  z-index: 3;
}

.btn:not(:last-child) {
  margin-right: 15px;
}

.btn:hover,
.btn:focus {
  color: crimson;
}

.btn:disabled {
  color: #ddd;
  background-color: #ccc;
  cursor: not-allowed;
}

.game {
  display: flex;
  height: 100%;
}

.userCar,
.botCar {
  height: var(--height-elem);
  width: calc(var(--height-elem) / 2);

  background: transparent url('./image/player.png') center / contain no-repeat;

  position: absolute;
  left: 125px;
  bottom: 10px;
}

.gameArea {
  /* height: 100vh; */
  width: 300px;
  margin: auto;

  background: #222;

  position: relative;

  overflow: hidden;
}

/* Lines are used to animate the movement of the car */
.lines {
  height: calc(var(--height-elem) / 2);
  width: 10px;

  background: #fff;

  position: absolute;
  left: 145px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.hide {
  display: none;
}